{% extends "base.html" %}
{% block content %}
    <div class="card-body">
        <div class="col-xs-12 text-center">
            <h4>Tasks</h4>
        </div>
        <form method="get" action="{% url 'task-list' %}">
            <div class="form-row align-items-center">
                <div class="col-md-3">
                    <label for="filter_by" class="sr-only">Filter by:</label>
                    <select name="filter_by" id="filter_by" class="custom-select">
                        <option value="priority" {% if filter_by == 'priority' %}selected{% endif %}>Priority</option>
                        <option value="type" {% if filter_by == 'type' %}selected{% endif %}>Type</option>
                        <option value="complete" {% if filter_by == 'complete' %}selected{% endif %}>Is Complete
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="order_by" class="sr-only">Order by:</label>
                    <select name="order" id="order_by" class="custom-select">
                        <option value="asc" {% if order_by == 'asc' %}selected{% endif %}>Ascending</option>
                        <option value="desc" {% if order_by == 'desc' %}selected{% endif %}>Descending</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="border: none">Title</th>
                <th scope="col" style="border: none">Priority</th>
                <th scope="col" style="border: none">Employee</th>
                <th scope="col" style="border: none">Is complete</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.employee.surname }}</td>
                     <td>
                        {% if task.complete %}
                            <a type="button" class="btn btn-success" style="width: 40px"
                               href="/task-toggle-complete/{{ task.task_id }}">&#x2713</a>
                        {% else %}
                            <a type="button" class="btn btn-danger" style="width: 40px"
                               href="/task-toggle-complete/{{ task.task_id }}">🗙</a>
                        {% endif %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" href="/task-view/{{ task.task_id }}">View</a>
                        <a type="button" class="btn btn-warning" href="/task-update/{{ task.task_id }}">Update</a>
                        <a type="button" class="btn btn-danger" href="/task-delete/{{ task.task_id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-primary" href="{% url 'task-create' %}">Create</a>
    </div>
{% endblock %}